[DEFAULT]
MTSName:      node-
endNodeName:  endnode-

[GENI Credentials]
username:             pjw7904
password:             Hfl085987!
remoteCodeDirectory:  /users/pjw7904
OSVersion:            18.04

[Local Utilities]
RSPEC:                    /home/pjw7904/Desktop/MTP_pjw7904/Local_Automation_MTP/MTP_RSPEC.xml
privateKey:               /home/pjw7904/.ssh/id_geni_ssh_rsa
localWorkingDirectory:    /home/pjw7904/Desktop/MTP_pjw7904/Local_Automation_MTP
trafficGeneratorLocation: /home/pjw7904/Desktop/MTP_pjw7904/Local_Automation_MTP/TrafficGenerator.py
endnodeInfoLocation:      /home/pjw7904/Desktop/MTP_pjw7904/Local_Automation_MTP/addrInfo.cnf

[MTP Utilities]
localCodeDirectory:     /home/pjw7904/Desktop/MTP_pjw7904/MTP
rootRedundancy:         false
includeVLANs:           false
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
endNodeTrafficDest:     endnode-1
trafficToSend:          MTP_ucast_test
rootNode:               node-0

[RSTP Utilities]
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
trafficToSend:          ARP
rootNode:               node-0
